.contact-us {
  background-color: #672a6b;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 13px;
  width: 1144px;
}

.contact-details {
  background-color: #672a6b;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 572px;
  height: 449px;
  margin: 50px auto;
}

.contact-details h4 {
  border-bottom: 1px solid;
}
