.higlighted h1 {
  background-color: #672a6b;
  text-align: left;
  padding: 13px 13px 13px 5px;
}

.highlighted-game {
  background-color: #672a6b;
}

.highlighted-game h2,
.highlighted-game p {
  text-align: center;
  padding-bottom: 2px;
}

.highlighted-game img {
  object-fit: cover;
  max-width: 1144px;
  max-height: 460px;
}

.categories {
  background-color: #672a6b;
}

.categories ul {
  list-style: none;
  text-align: center;
}

.categories li {
  display: inline-block;
  padding: 25px;
}

.featured-new {
  background-color: #672a6b;
}

.featured-new h2 {
  padding: 3px 10px;
}

.featured-popular {
  background-color: #672a6b;
}

.featured-popular h2 {
  padding: 3px 10px;
}

.product-list {
  display: grid;
}

.product-list h3,
.product-list p {
  display: inline;
  vertical-align: text-top;
}

.bestseller-wishlist_list {
  padding-top: 50px;
}

.bestsellers {
  background-color: #672a6b;
  text-align: left;
  width: 360px;
  object-fit: cover;
}

.wishlist {
  background-color: #672a6b;
  text-align: left;
  width: 360px;
  object-fit: cover;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  margin: auto;
}

tbody {
  border: 1px solid;
}

tbody p {
  text-align: right;
  padding-right: 10px;
}

th {
  padding: 10px;
}

td {
  padding-left: 10px;
}
