@media (min-width: 360px) {
}

@media (min-width: 600px) {
  .container {
    max-width: 600px;
    padding-top: 6em;
  }

  header label {
    display: none;
  }

  .logo-list {
    max-width: 600px;
    width: 100%;
  }

  nav {
    display: block;
    position: static;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  .highlighted-game {
    padding-bottom: 50px;
  }

  .highlighted-game h2 {
    display: inline;
    float: left;
    text-align: left;
    margin: 10px;
  }

  .highlighted-game p {
    display: inline;
    float: right;
    text-align: right;
    margin: 10px;
  }

  .product-list {
    gap: 10px;
  }

  .product-list h3,
  .product-list p {
    font-size: 1em;
  }

  .game-specific_name {
    font-size: 2.5em;
    margin-bottom: -50px;
  }

  .game-specific_info {
    font-size: 1.2em;
  }

  .game-price {
    font-size: 2.5em;
  }

  .system-req h2 {
    font-size: 2em;
  }

  .contact-us {
    width: 600px;
  }

  .contact-details {
    width: 572px;
  }

  .thank-you {
    width: 600px;
  }

  .order-success {
    width: 75%;
  }

  .summary-container {
    width: 75%;
  }

  .back-home_button {
    width: 25%;
  }

  .wishlist-page {
    width: 600px;
  }

  .cart-page {
    width: 600px;
  }

  .price {
    font-size: 1rem;
  }

  @media (min-width: 800px) {
    .container {
      max-width: 800px;
      padding-top: 8em;
    }

    .logo-list {
      max-width: 800px;
    }

    .logo img {
      width: 208px;
    }

    .product-list {
      gap: 60px;
    }

    .bestseller-wishlist_list {
      flex-direction: row;
      line-height: 2rem;
    }

    .contact-us {
      width: 800px;
    }

    .payment-row {
      flex-direction: row;
    }

    .thank-you {
      width: 800px;
    }

    .back-home_button {
      width: 25%;
    }

    .wishlist-page {
      width: 800px;
    }

    .cart-page {
      width: 800px;
    }
  }

  @media (min-width: 1144px) {
    .container {
      max-width: 1144px;
      margin: auto;
    }

    header {
      font-size: 1.5em;
    }

    footer {
      font-size: 1.2em;
    }

    .logo-list {
      max-width: 1144px;
    }

    .searchbar input {
      padding: 10px 30px;
    }

    .product-list {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: 88px;
    }

    .product-list img {
      width: 220px;
      height: 220px;
    }

    .game-specific_details {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr auto;
      grid-gap: 25px;
    }

    .game-specific_details a {
      width: 374px;
      display: block;
      padding: 38px;
    }

    .game-specific_description {
      margin-top: 25px;
      padding: 10px;
      font-size: 1.2em;
    }

    .buy-info {
      display: block;
      grid-column: 2;
    }

    .game-specific_info {
      display: block;
      font-size: 1.2em;
      padding: 5px;
    }

    .buy-cart-wish {
      flex-direction: column;
    }

    .buy-now {
      font-size: 2em;
    }

    .buy-now p {
      margin: 0;
    }

    .add-cart {
      font-size: 2em;
      width: 100%;
    }

    .add-wishlist {
      flex: 1;
      font-size: 1em;
      width: 100%;
    }

    .location-description_map {
      flex-direction: row;
    }

    .location-description {
      font-size: 1.4em;
    }

    .contact-us {
      width: 1144px;
    }

    .thank-you {
      width: 1144px;
    }

    .wishlist-page {
      width: 1144px;
    }

    .cart-page {
      width: 1144px;
    }
  }
}
