@import "imports/links.css";

body {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-columns: auto;
  background-color: #27282e;
  color: #fff;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

header,
footer {
  background-color: #672a6b;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header a {
  color: #fff;
  padding: 25px;
}

nav {
  display: block;
  position: static;
}

nav li {
  display: inline-block;
  padding: 0px;
}

footer {
  text-align: center;
  position: static;
}

img {
  width: 100%;
}
