@import "imports/links.css";

body {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: auto;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  background-color: #27282e;
  color: #fff;
}

.header-nav {
  background-color: #672a6b;
}

.header-nav_row {
  display: flex;
}

.logo-list-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.logo {
  display: flex;
}

.navigation {
  display: flex;
}

.searchbar {
  display: flex;
}

header,
main,
footer {
  background: #27282e;
}

header {
  grid-area: header;
  align-items: center;
  justify-content: space-evenly;
}

header a {
  color: #fff;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  text-align: center;
  position: static;
}

header,
footer {
  background: #672a6b;
  color: #fff;
  padding: 10px;
}

.active {
  text-decoration: underline;
}

nav {
  display: block;
  position: static;
}

nav li {
  display: inline-block;
  padding: 0px;
}

img {
  width: 100%;
}
