a {
  text-decoration: none;
  color: #fff;
}

.header-nav {
  background-color: #672a6b;
}

.header-nav_row {
  display: flex;
}

.logo-list-searchbar {
  display: flex;
}

.cta-buy {
  background-color: #4e8010;
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.products {
  background-color: #672a6b;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "image image"
    "name price";
  font-size: 0.8em;
}

.products img {
  grid-column: -1/1;
}

.products h2,
.products h3 {
  grid-column: 1;
  margin: 5px;
}

.products p {
  grid-column: 2;
  grid-row: 2;
  margin: 5px;
}
